In [2]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [3]:
crash_table_df = pd.read_csv('Resources/CrashTable.csv')
crash_table_df.head()

   collision_id  crash_date crash_time    borough   latitude  longitude
0       4269445  2020-01-01   04:20 AM     QUEENS  40.762196 -73.870415
1       4267699  2020-01-01   03:41 PM  MANHATTAN  40.780754 -73.952580
2       4268937  2020-01-01   07:00 PM     QUEENS  40.725353 -73.821080
3       4270271  2020-01-01   02:40 PM     QUEENS  40.753826 -73.884120
4       4268926  2020-01-01   05:00 AM     QUEENS  40.747097 -73.886665

In [4]:
crash_table_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205739 entries, 0 to 205738
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   collision_id  205739 non-null  int64
 1   crash_date    205739 non-null  object
 2   crash_time    205739 non-null  object
 3   borough       205739 non-null  object
 4   latitude      205739 non-null  float64
 5   longitude     205739 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 9.4+ MB

In [17]:
unique_boroughs = crash_table_df['borough'].unique()
unique_boroughs

array(['QUEENS', 'MANHATTAN', 'BROOKLYN', 'BRONX', 'STATEN ISLAND',
       'Unknown'], dtype=object)

In [8]:
per_borough_counts = crash_table_df.groupby('borough')['collision_id'].count()
per_borough_counts

borough
BRONX            29142
BROOKLYN         64226
MANHATTAN        55382
QUEENS           47105
STATEN ISLAND     7842
Unknown           2042
Name: collision_id, dtype: int64

In [19]:
borough_collisions=pd.DataFrame({'Boroughs':unique_boroughs,'Collisions':per_borough_counts})
borough_collisions.head()

                    Boroughs  Collisions
borough
BRONX                 QUEENS       29142
BROOKLYN           MANHATTAN       64226
MANHATTAN           BROOKLYN       55382
QUEENS                 BRONX       47105
STATEN ISLAND  STATEN ISLAND        7842

In [20]:
borough_collisions.to_csv("Resources/borough_collisions.csv", encoding='utf8', index=False)