In [1]:
# Import Dependencies and set Maximum Column Width 
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [2]:
# Read CSV 
fatality_table_df = pd.read_csv('Resources/Cleaned.csv')
fatality_table_df.head()

,crash_date,crash_time,collision_id,borough,latitude,longitude,persons_injured,persons_killed,pedestrians_injured,pedestrians_killed,...,contr_factor_veh_1,contr_factor_veh_2,contr_factor_veh_3,contr_factor_veh_4,contr_factor_veh_5,veh_type_code_1,veh_type_code_2,veh_type_code_3,veh_type_code_4,veh_type_code_5
0,2020-01-01,04:20 AM,4269445,QUEENS,40.762196,-73.870415,1,0,0,0,...,Alcohol Involvement,Other Vehicular,Other Vehicular,Other Vehicular,NaN,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN
1,2020-01-01,03:41 PM,4267699,MANHATTAN,40.780754,-73.952580,0,0,0,0,...,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
2,2020-01-01,07:00 PM,4268937,QUEENS,40.725353,-73.821080,0,0,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,Unspecified,NaN,NaN,NaN
3,2020-01-01,02:40 PM,4270271,QUEENS,40.753826,-73.884120,0,0,0,0,...,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2020-01-01,05:00 AM,4268926,QUEENS,40.747097,-73.886665,0,0,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,Unspecified,NaN,NaN,NaN

In [3]:
# Show unique Borough names
unique_boroughs = fatality_table_df['borough'].unique()
unique_boroughs

array(['QUEENS', 'MANHATTAN', 'BROOKLYN', 'BRONX', 'STATEN ISLAND',
       'Unknown'], dtype=object)

In [4]:
# Count number of collisions per Borough
per_borough_counts = fatality_table_df.groupby('borough')['collision_id'].count()
per_borough_counts

borough
BRONX            29142
BROOKLYN         64226
MANHATTAN        55382
QUEENS           47105
STATEN ISLAND     7842
Unknown           2042
Name: collision_id, dtype: int64

In [5]:
# Count number of Pedestrian Deaths per Borough
pedestrian_numbers = fatality_table_df.groupby('borough')['pedestrians_killed'].sum()
pedestrian_numbers

borough
BRONX            28
BROOKLYN         68
MANHATTAN        54
QUEENS           45
STATEN ISLAND     8
Unknown           4
Name: pedestrians_killed, dtype: int64

In [6]:
# Count number of Cyclist Deaths per Borough
cyclist_numbers = fatality_table_df.groupby('borough')['cyclists_killed'].sum()
cyclist_numbers

borough
BRONX             7
BROOKLYN         11
MANHATTAN        19
QUEENS            3
STATEN ISLAND     1
Unknown           0
Name: cyclists_killed, dtype: int64

In [7]:
# Count number of Motorist Deaths per Borough
motorist_numbers = fatality_table_df.groupby('borough')['motorists_killed'].sum()
motorist_numbers

borough
BRONX            46
BROOKLYN         51
MANHATTAN        51
QUEENS           68
STATEN ISLAND    14
Unknown           0
Name: motorists_killed, dtype: int64

In [8]:
total_deaths = pedestrian_numbers + motorist_numbers + cyclist_numbers
total_deaths

borough
BRONX             81
BROOKLYN         130
MANHATTAN        124
QUEENS           116
STATEN ISLAND     23
Unknown            4
dtype: int64

In [9]:
# Calculate percentage of Deaths relative to total Deaths for each Type and each Borough
pedestrian_percentages = (pedestrian_numbers / total_deaths) * 100
cyclist_percentages = (cyclist_numbers / total_deaths) * 100
motorist_percentages = (motorist_numbers / total_deaths) * 100

In [10]:
# Create DataFrame with percentages
deaths_df = pd.DataFrame({'Boroughs': unique_boroughs, 'Pedestrian Death Percentage': pedestrian_percentages, 'Cyclist Death Percentage': cyclist_percentages, 'Motorist Death Percentage': motorist_percentages})
deaths_df.head()

,Boroughs,Pedestrian Death Percentage,Cyclist Death Percentage,Motorist Death Percentage
borough,,,,
BRONX,QUEENS,34.567901,8.641975,56.790123
BROOKLYN,MANHATTAN,52.307692,8.461538,39.230769
MANHATTAN,BROOKLYN,43.548387,15.322581,41.129032
QUEENS,BRONX,38.793103,2.586207,58.620690
STATEN ISLAND,STATEN ISLAND,34.782609,4.347826,60.869565

In [11]:
# Round percentages to two decimal places
deaths_df['Pedestrian Death Percentage'] = deaths_df['Pedestrian Death Percentage'].map("{:,.2f}".format)
deaths_df['Cyclist Death Percentage'] = deaths_df['Cyclist Death Percentage'].map("{:,.2f}".format)
deaths_df['Motorist Death Percentage'] = deaths_df['Motorist Death Percentage'].map("{:,.2f}".format)

In [12]:
# Sort values by Borough (ascending)
deaths_df = deaths_df.sort_values('Boroughs')
deaths_df.head()

,Boroughs,Pedestrian Death Percentage,Cyclist Death Percentage,Motorist Death Percentage
borough,,,,
QUEENS,BRONX,38.79,2.59,58.62
MANHATTAN,BROOKLYN,43.55,15.32,41.13
BROOKLYN,MANHATTAN,52.31,8.46,39.23
BRONX,QUEENS,34.57,8.64,56.79
STATEN ISLAND,STATEN ISLAND,34.78,4.35,60.87

In [13]:
# Export Dataframe to CSV file
deaths_df.to_csv("Resources/percentages.csv", encoding='utf8', index=False)

In [14]:
# Create DataFrame to show raw Death numbers per Type and per Borough
numbers_df = pd.DataFrame({'Borough': unique_boroughs, 'pedestrian_deaths': pedestrian_numbers, 'cyclist_deaths': cyclist_numbers, 'motorist_deaths': motorist_numbers})
numbers_df.sort_values('Borough')
numbers_df.drop('Borough', axis=1)

               pedestrian_deaths  cyclist_deaths  motorist_deaths
borough
BRONX                         28               7               46
BROOKLYN                      68              11               51
MANHATTAN                     54              19               51
QUEENS                        45               3               68
STATEN ISLAND                  8               1               14
Unknown                        4               0                0

In [15]:
# Export Dataframe to CSV file
numbers_df.to_csv("Resources/death_numbers.csv", encoding='utf8', index=False)